################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/#4 DigitRecognition From Scratch/obj
/#4 DigitRecognition From Scratch/.vs
/#4 DigitRecognition From Scratch/bin/Debug/net8.0
/#4 DigitRecognition From Scratch/Dataset
